#body-user #content, #body-settings #content {

	.personalblock {
		.securitywarning {
			display: block;

			padding: 15px;
			margin-bottom: 20px;
			border: 1px solid #ebccd1;
			border-radius: 4px;

			background-color: #f2dede;
			color: #a94442;
		}
	}

	#controls {
		background: transparent;
		border-top: 1px solid $border-color;
	}
}
