
#body-login #header, #body-user #header, #body-settings #header {
	background: none;
	background-color: $background-color;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	svg path {
		fill : $link-color;// if you have your own logo you may want to remove this
	}
}

#body-user #header, #body-settings #header {
	#searchbox {
		border: 1px solid $border-color;
	}
	#settings {
		color: $link-color;
	}
	#expand {
		& > span {
			cursor: pointer;
		}
		&:hover, &:focus, &:active {
			color: $link-color;
		}
	}
	#expanddiv {
		opacity: 1;
		background: none;
		background-color: $background-color;
		border-color: $link-color;

		box-shadow: none;

		li {
			opacity: 1;
			a {
				display: inline-block;
				color: $link-color;
				svg path {
					fill: $link-color;
				}
				&:hover {
					color: $link-hover-color;
					svg path {
						fill: $link-hover-color;
					}
				}
			}
		}
	}
}
