
#body-login {

	background: none;
	color: $link-color;

	input[type="text"], input[type="password"], input[type="email"] {
		border: 1px solid $border-color;
	}
	.grouptop input {
		border-bottom: 0px;
	}
	.groupbottom input {
		border-top: 0px;
	}
	input[type="submit"].primary {
		background: none;
		background-color: $button-background-color;
		border: 1px solid $border-color;
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
		color: $button-text-color;
		&:hover {
			color: $link-hover-color;
		}
	}

	p.info {
		color: $link-color;
	}
	a, p.info a, form input[type="checkbox"]+label {
		color: $link-color;
		opacity: 1;
		&:hover {
			color: $link-hover-color;
		}
	}
}
