
#body-user #navigation, #body-settings #navigation {
	background: none;
	background-color: $background-color;
	border-right: 1px solid $text-color;
	li {
		a {
			display: inline-block;
			svg path {
				fill: $link-color;
			}
			span {
				color: $link-color;
			}
			&:hover {
				svg path {
					fill: $link-hover-color;
				}
				span {
					color: $link-hover-color;
				}
			}
		}
	}

	#apps-management {
		opacity: 1;
	}
}
